@use '../variables' as *;
/******************************************
HEADER
******************************************/
.header {
    width: 100%;
    margin-bottom: 6rem;
    padding: 2rem 0;
    border-bottom: 1px solid $divider-color;
    text-align: center;
}
.header--single {
    margin-bottom: 3rem;
}
.header .heading__page {
    position: relative;
    margin: 0 0 2rem;
}
.header__home-link {
    display: block;
    color: $black;
}
.header__tagline {
    color: $white;
    margin: 0;
}
