@use '../variables' as *;


.header-logo {
    a {
        color: $black !important;
    }
    
    img {
        position: relative;
        top: -.1rem;
        height: 3rem;
        margin-right: .8rem;

        @media (max-width: 600px) {
            height: 2rem;
        }
    }
    
    span {
        color: white;
        text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
        letter-spacing: 2px;
    }
    
    .post-hero & {
        color: white !important;
        
        span {
            -webkit-text-stroke-color: white !important;
        }
    }
}
