@use '../variables' as *;
/******************************************
POST
******************************************/
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0 10%;
    background-color: $primary-colour;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    text-align: center;

    &--home {
        position: sticky;
        top: 0;
        background-color: $white;
        z-index: 1;
        align-items: flex-start;
        height: 8rem;
        margin-bottom: 0;
        padding: 0 2rem;

        .heading--page {
            margin: 0;
            font-size: 2.4rem;
            color: $primary-colour;

            a:visited {
                color: $primary-colour;
            }

            a:hover {
                color: $black;
            }
        }

        @media (max-width: 600px) {
            height: 6rem;

            .heading--page {
                font-size: 1.6rem;
            }
        }
    }
}
.post__date {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 1.6rem;
    color: #fff;
    border-top: .4rem solid #fff;
    text-transform: uppercase;
}
.post__category {
    display: flex;

    &::after {
        content: '';
        display: inline-block;
        position: relative;
        top: -1px;
        height: 22px;
        width: 4px;
        background-color: #fff;
        margin-right: 12px;
        margin-left: 12px;

        @media (max-width: 600px) {
            height: 18px;
            width: 3px;
        }
    }
}
.post__category + .post__category:before {
    display: inline-block;
    content: ",";
    margin-right: .4rem;
}
.post {

    pre,
    code {
        background-color: $light-grey;
        border: 0;
        border-radius: 0;
    }
    pre {
        padding: 1.6rem 2rem;

        code {
            padding: 0;
            color: $body-text;
        }
    }
    code {
        padding: .3rem .6rem;
        color: $primary-colour;
        font-size: 1.6rem;
    }
    blockquote {
        margin: 3rem 0;
        padding: 0 0 0 3rem;
        border-left: 10px solid $primary-colour;
        color: $body-text;

        p {
            width: auto;
            margin-top: 0;
            margin-bottom: 0;
            @include title-font-black;
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        @media (max-width: 600px) {
            padding-left: 1.6rem;
            border-width: 6px;
        }
    }
}

.reasons-why-label {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 2rem;
    padding: .8rem 1.2rem;
    @include title-font-black;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $black;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -1.2rem;
        width: calc(100% + 2.4rem);
        height: 100%;
        padding: .8rem 1.2rem;
        background-color: $white;
        z-index: -1;
        transform: skew(-8deg);
    }

    &--small {
        align-self: flex-start;
        margin-bottom: .4rem;;
        padding: 0 0.4rem;
        font-size: 1rem;

        &::before {
            width: 100%;
            padding: 0rem 0.4rem;
            left: -0.4px;
        }
    }
}