@use '../variables' as *;
.reasons-why {

    &__promo {
        margin-top: -3rem;
        margin-bottom: 3rem;
        padding: 2rem 0;
        background-color: $black;
        color: $white;
        @include title-font-heavy;
        font-size: 1.6rem;

        .wrapper {
            margin: 0 auto;
        }

        @media (max-width: 600px) {
            font-size: 1.2rem;
            padding: 1.6rem 0;
        }
    }

    &__label {
        position: relative;
        z-index: 1;
        display: block;
        margin-bottom: 2rem;
        padding: .8rem 1.2rem;
        @include title-font-black;
        font-size: 2.4rem;
        text-transform: uppercase;
        color: $black;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1.2rem;
            width: calc(100% + 2.4rem);
            height: 100%;
            padding: .8rem 1.2rem;
            background-color: $white;
            z-index: -1;
            transform: skew(-8deg);
        }

        @media (max-width: 600px) {
            margin-bottom: 1rem;
            padding: 0 0.4rem;
            font-size: 1.2rem;

            &::before {
                left: -0.4rem;
                width: calc(100% + 0.8rem);
            }
        }

        &--small {
            align-self: flex-start;
            margin-bottom: .8rem;
            padding: 0 0.8rem;
            font-size: 1.2rem;

            &::before {
                width: 100%;
                padding: 0rem 0.4rem;
                left: -0.4px;
            }

            @media (max-width: 600px) {
                padding: 0 0.4rem;
                font-size: 1rem;
            }
        }
    }
}