<nav class="nav" role="navigation">
    <div class="nav__wrapper">
        <ul class="nav__list u-no-list">
            <li class="nav__item">
                <a class="nav__link" href="/">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/about">About</a>
            </li>
        </ul>
        <ul class="nav__social u-no-list">
            <li class="nav__item">
                <a href="http://www.twitter.com/stanchionfc" target="_blank" class="nav__link">
                    <i class="fab fa-twitter"></i> @stanchionfc
                </a>
            </li>
        </ul>
    </div>
</nav>