<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | The Stanchion</title>
	{% include "head.html" %}
</head>

<body>
	{% include "nav.html" %}
	{% include "nav-trigger.html" %}
	<header class="hero post-hero" style="background-image: url(/img/{{ hero }});">
		<a href="/" class="heading--siteTitle header-logo" alt="The Stanchion">
			<img src="/img/logo-v1_white.png" alt="The Stanchion logo" />
			<span>The</span> Stanchion
		</a>
		<h1 class="heading--page">{{ title | escape }}</h1>
		<p class="post__date">
			<span class="post__category"><a href="/tags/{{ tags | replace: 'post', '' }}">{{ tags | replace: 'post', '' | replace: '-', ' ' | capitalize }}</a></span>
			<time class="dt-published" datetime="{{ date | date_to_xmlschema }}" itemprop="datePublished">
				{% assign date_format = "%b %-d, %Y" %}
				{{ 	date | date: date_format }}
			</time>
		</p>
	</header>
	<article class="post h-entry wrapper" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="post__content" itemprop="articleBody">
			{% if subtitle %}
				<h2 class="heading--subtitle">{{ subtitle | escape }}</h2>
			{% endif %}

			{{ content }}

			{% if hero_source != '' %}
				<h3 class="heading--source">Lead photo: <span>{{ hero_source | escape }}</span></h3>
			{% endif %}
		</div>
	</article>

	{% include "footer-scripts.html" %}
	{% include "footer.html" %}
</body>

</html>