---
layout: home.html
---

<div class="post-list">
    <ul class="post-list__list">
        {% for post in collections.post reversed %}
        {% if post.data.published %}
            <li class="post-list__item" style="background-image: url(/img/{{ post.data.hero }});">
                <a class="post-list__link" href="{{ post.url }}">
                    {% if post.data.tags contains 'reasons-why' %}
                        <span class="reasons-why-label reasons-why-label--small">Reasons Why</span>
                    {% endif %}
                    <h3 class="heading--post">{{ post.data.title | escape }}</h3>
                    {% assign date_format = "%b %-d, %Y" %}
                    {% unless post.data.tags contains 'reasons-why' %}
                        <span class="post__date">{{ post.data.date | date: date_format }}</span>
                    {% endunless %}
                </a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>