@use '../variables' as *;
/******************************************
HEADINGS
******************************************/
/**
 * By default, all headings are always ‘just a bit bigger’ than body copy.
 * Any font, size, color, etc. styling is done based on the purpose of the heading.
 * See classes below which detail styles for specific heading uses.
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    @include title-font-black;
    font-size: 1.25rem;
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.4rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.6rem;
}

@media (max-width: 600px) {
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.6rem;
    }
    h5 {
        font-size: 1.4rem;
    }
    h6 {
        font-size: 1.2rem;
    }
}

.heading {
    &--site {
        font-size: 14vmin;
    }

    &--tagline {
        display: inline;
        padding-top: 1rem;
        font-size: 4vmin;
        border-top: 5px solid $white;
    }

    &--page {
        font-size: 9rem;
        margin-bottom: 5rem;
        color: #fff;

        @media (max-width: 1000px) {
            font-size: 5rem;
        }

        @media (max-width: 500px) {
            margin-bottom: 2rem;
            font-size: 3rem;
        }
    }

    &--section {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 2.4rem;
        margin-bottom: 3rem;

        @media (max-width: 600px) {
            margin-left: 1.2rem;
            margin-right: 1.2rem;
        }
    }

    &--post {
        font-size: 2.6rem;
        color: $black;
        margin: 0 0 1rem;
    }

    &--title {
        font-size: 3.4rem;
    }

    &--subtitle,
    h6 {
        font-family: "Montserrat", Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 2rem;
        font-style: italic;
        font-weight: 700;
        color: black;
        text-transform: none;

        @media (max-width: 800px) {
            line-height: 1.4;
        }

        @media (max-width: 500px) {
            font-size: 1.6rem;
        }
    }

    &--source {
        display: inline-block;
        margin-top: 1rem;
        border-top: 2px solid black;
        font-family: "Montserrat", Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 700;
        color: black;
        text-transform: none;

        span {
            font-weight: 300;
        }
    }

    &--siteTitle {
        position: absolute;
        left: 2rem;
        top: 1.8rem;
        @include title-font-black;
        font-size: 2.4rem;
        text-transform: uppercase;
        color: #fff;

        @media (max-width: 600px) {
            font-size: 1.6rem;
        }
    }

    &--tag-listing {
        position: sticky;
        top: 8rem;
        z-index: 1;
        margin-bottom: 1.8rem;
        padding-bottom: 1.2rem;
        background-color: white;
        text-align: right;

        @media (max-width: 800px) {
            top: 6rem
        }

        @media (max-width: 600px) {
            padding-bottom: 0.6rem;
            font-size: 1.2rem;
        }
    }
}